$primary-color : rgb(217, 217, 235);
$secondary-color : white;


@mixin btn-style() {
    background-color: rgba(0,0,255,0.8);
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    text-align: center;

    &:hover {
        background-color: blue;
    }

    &:active {
        transform: scale(0.99);
    }
}